:root{
    --40:40px;
    --60:60px;
}

.bg-gray{
    background-color: rgb(242, 242, 242,15);
}
/*Section 1*/
.bg-section1{
    /* background-image: url(content/img/section1.jpg); */
    background: linear-gradient(180deg, rgba(213, 213, 213, 0)0%,rgba(0,0,0,0.61)100%), url(content/img/section1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 100%;
}

.border-inline-end{
    border-inline-end-width: 1px;
    border-style: solid;
}

.text-welcome{
    text-align: center;
    color: white;
    margin-top: auto;
}

.text-size{
    font-size: 3.3rem;
}

.py-60{
    padding-top: var(--60);
    padding-bottom: var(--60);
}

.px-60{
    padding-left: var(--60);
    padding-right: var(--60);
}

/*Section 2*/
.section-2-image{
    max-width: 500px;
    height: 340px;
    width: 500px;
    object-fit: cover;
    border-radius: 1rem;
}

.bg-gray-92{
    background-color: rgb(92,92,92,1);
}
.heading2{
    font-size: 3rem;
}
/*Section 3*/
